@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-brand-gray {
    background-color: #f5f5f5;
}

.bg-brand-dark {
    background-color: #1a1a1a;
}

.font-display {
    font-family: Oswald, sans-serif;
}

.header__hamburger {
    position: relative;
    z-index: 16;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    z-index: 1
}

.header__hamburger::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: .25s ease-in-out all;
    transition: .25s ease-in-out all;
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    cursor: default
}

.header__hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 16px;
    background-color: #000;
    -webkit-transition: height 0s linear, -webkit-transform .6s ease-in-out;
    transition: height 0s linear, -webkit-transform .6s ease-in-out;
    transition: height 0s linear, transform .6s ease-in-out;
    transition: height 0s linear, transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    -webkit-transition-delay: .6s, 0s, 0s;
    transition-delay: .6s, 0s, 0s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center
}

.header__hamburger span:after {
    position: absolute;
    top: 5px;
    left: 0;
    height: 2px;
    width: 14px;
    background-color: inherit;
    content: "";
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: top .3s ease, width .3s ease, -webkit-transform .3s ease;
    transition: top .3s ease, width .3s ease, -webkit-transform .3s ease;
    transition: top .3s ease, width .3s ease, transform .3s ease;
    transition: top .3s ease, width .3s ease, transform .3s ease, -webkit-transform .3s ease;
    -webkit-transition-delay: .9s, .9s, .6s, .6s;
    transition-delay: .9s, .9s, .6s, .6s
}

.header__hamburger span:before {
    position: absolute;
    top: -5px;
    left: 0;
    height: 2px;
    width: 18px;
    background-color: inherit;
    content: "";
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: top .3s ease, width .3s ease, -webkit-transform .3s ease;
    transition: top .3s ease, width .3s ease, -webkit-transform .3s ease;
    transition: top .3s ease, width .3s ease, transform .3s ease;
    transition: top .3s ease, width .3s ease, transform .3s ease, -webkit-transform .3s ease;
    -webkit-transition-delay: .9s, .9s, .6s, .6s;
    transition-delay: .9s, .9s, .6s, .6s
}

.header__hamburger.is-active::before {
    opacity: 1;
    visibility: visible;
    pointer-events: all
}

.header__hamburger.is-active span {
    height: 0;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: width 0s linear, -webkit-transform 0s ease;
    transition: width 0s linear, -webkit-transform 0s ease;
    transition: width 0s linear, transform 0s ease;
    transition: width 0s linear, transform 0s ease, -webkit-transform 0s ease;
    -webkit-transition-delay: .3s, .6s, .6s;
    transition-delay: .3s, .6s, .6s
}

.header__hamburger.is-active span:after {
    top: 0;
    width: 18px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0s, .3s, .3s;
    transition-delay: 0s, 0s, .3s, .3s
}

.header__hamburger.is-active span:before {
    top: 0;
    width: 18px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0s, .3s, .3s;
    transition-delay: 0s, 0s, .3s, .3s
}

@media (max-width:1200px) {
    .header-nav {
        position: fixed;
        bottom: 0;
        top: 0;
        inset-inline-start: 0;
        background: #fff;
        color: #000;
        padding: 1.5rem 2rem;
        box-shadow: 0 0 10px rgba(51, 51, 51, .38);
        overflow: auto;
        text-align: inline-start;
        z-index: 3;
        max-width: 300px;
        width: 100%;
        transition: all 300ms ease 0s;
        transform: translate3d(-100%, 0px, 0px);
        opacity: 0;
        visibility: hidden;
    }

    .header-nav.is-visible {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0%, 0px, 0px);
    }
}